
@{
    ViewBag.Title = "Courses";
}

@if (ViewBag.Message != null)
{
    <h3 style="color:red">@ViewBag.Message</h3>
}

@if (ViewBag.ShowInfo)
{
    <h3 style="color:red">@ViewBag.InfoMessage</h3>
    @Html.ActionLink("Back to applications", "GetAllApplications", new { Controller = "Application", id = ViewBag.applicantId })
}
<h2>Sheffield</h2>
@Html.Action("GetSheffieldCourses", new { id = ViewBag.applicantId })
<h2>Hallam</h2>
@Html.Action("GetSheffieldHalamCourses", new { id = ViewBag.applicantId })

