@model IEnumerable<NAA.Data.Bean.ApplicationBEAN>

@{
    ViewBag.Title = "Your Applications";
}

<h2>Your Applications</h2>

<p>
    @Html.ActionLink("Find Course", "Index", "Course", new { id = ViewBag.applicantId }, null)
</p>

@if (Model == null)
{
    <p>No Applications</p>
}
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalStatement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherContactDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.University)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniversityOffer)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicantId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalStatement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherContactDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherReference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.University)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UniversityOffer)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}